/* Define Parametros para o corpo das Páginas */
body
{
    background: white;
    box-shadow: 0px 2px 8px;
    box-sizing: border-box;
    min-height: 1000px;
    max-width: 950px;
    font-style: italic;
    margin: 0 auto 40px auto;
    border-radius: 8px;
    padding: 30px 25px;
}

/* Define Parametros para todos os subtítulos h1 */
h1
{
    font-size: 43px; 
    text-align:center;
    padding-bottom: 25px;
    text-decoration-line: underline  ; 
    text-decoration-color:rgb(28, 63, 87) ;
}

/* Define Parametros para todos os subtítulos h2 */
h2
{
    padding-top: 20px;
    font-size: 35px;
}

/* Define Parametros para todos os Paragráfos */
p
{
    font-size: 22px;
}

/* Define Parametros para o Menu de todas as paginas */
nav
{
    background:rgb(207, 100, 100);
    box-shadow: 0 2px 8px;
    text-align: center;
}
nav ul
{
    list-style-type:none;    
    margin: 20px;
    padding: 25px;
    justify-content: center;    
    display: flex;
}

nav li
{
    margin: 0px 50px; 
}
nav li a
{
    color:black;
    text-decoration:none;
    font-size: 30px;
}
a:hover
{
    color:rgb(255, 255, 255);  
    background:rgb(28, 63, 87);
    border-radius: 30px;
    border-style:block;
}

/* Define Parametros para o Formulario */
form
{
    font-size: 25px;
    text-align: center;
    box-shadow: 0 1px 10px;
    border-radius: 25px;
    padding: 15px;
    max-width: 550px;
    margin: 0 auto;
   background-color: rgb(106, 140, 163);
}

button
{
    padding: 15px;
    display: flex;
    border-radius: 20px;
    box-shadow: 0 2px 6px;
    background-color: rgb(207, 100, 100);
}

input[type="text"], input[type="email"], textarea
{
    width: 80%;
    padding: 15px;
    border-radius: 45px;
    border-color: rgb(172, 102, 102);
}

